/* Reinicio del modelo de cajas */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

/* Configuración del contenedor grid */
#container {
  display: grid;
  grid-template-columns: 50px repeat(6, 1fr) 100px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
  ". . . . . hijo2 hijo2 hijo2"
  "hijo4 hijo3 hijo3 . . hijo5 hijo5 hijo1"
  ". . . . . . . .";
  width: 400px;
  height: 250px;
  background-color: beige;
  border: 2px solid black;
}

#container div {
  /* width: 40px;
  height: 40px; */
  /* background-color: cadetblue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar */
#navegacion {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: azure;
}

#navegacion > ul {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#navegacion > ul > li {
  text-align: center;
  list-style: none;
  width: 100%;
}

#navegacion > ul > li:hover {
  background-color: black;
  color: red;
  cursor: pointer;
}

#hijo1 {
  grid-area: hijo1;
  background-color: antiquewhite;
}
#hijo2 {
  grid-area: hijo2;
  background-color: aquamarine;
}
#hijo3 {
  grid-area: hijo3;
  background-color: blueviolet;
}
#hijo4 {
  grid-area: hijo4;
  background-color: cadetblue;
}
#hijo5 {
  grid-area: hijo5;
  background-color: tomato;
}

/* galeria */
#galeria {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
  grid-template-areas: 
  "imagen1 imagen1 imagen1 imagen1 imagen1 imagen1 imagen1 imagen1 . . imagen2 imagen2 imagen2 imagen2 imagen2 imagen2 imagen2 imagen2"
  "imagen1 imagen1 imagen1 imagen1 imagen1 imagen1 imagen1 imagen1 . . imagen2 imagen2 imagen2 imagen2 imagen2 imagen2 imagen2 imagen2"
  "imagen1 imagen1 imagen1 imagen1 imagen1 imagen1 imagen1 imagen1 . . imagen2 imagen2 imagen2 imagen2 imagen2 imagen2 imagen2 imagen2"
  "imagen1 imagen1 imagen1 imagen1 imagen1 imagen1 imagen1 imagen1 . . imagen2 imagen2 imagen2 imagen2 imagen2 imagen2 imagen2 imagen2"
  "imagen1 imagen1 imagen1 imagen1 imagen1 imagen1 imagen1 imagen1 . . imagen2 imagen2 imagen2 imagen2 imagen2 imagen2 imagen2 imagen2"
  ". . . . . . . . . . . . . . . . . ."
  "imagen3 imagen3 imagen3 imagen3 imagen3 imagen3 imagen3 imagen3 . . imagen4 imagen4 imagen4 imagen4 imagen4 imagen4 imagen4 imagen4"
  "imagen3 imagen3 imagen3 imagen3 imagen3 imagen3 imagen3 imagen3 . . imagen4 imagen4 imagen4 imagen4 imagen4 imagen4 imagen4 imagen4"
  "imagen3 imagen3 imagen3 imagen3 imagen3 imagen3 imagen3 imagen3 . . imagen4 imagen4 imagen4 imagen4 imagen4 imagen4 imagen4 imagen4"
  "imagen3 imagen3 imagen3 imagen3 imagen3 imagen3 imagen3 imagen3 . . imagen4 imagen4 imagen4 imagen4 imagen4 imagen4 imagen4 imagen4"
  "imagen3 imagen3 imagen3 imagen3 imagen3 imagen3 imagen3 imagen3 . . imagen4 imagen4 imagen4 imagen4 imagen4 imagen4 imagen4 imagen4"
  ". . . . . . . . . . . . . . . . . ."
  "imagen5 imagen5 imagen5 imagen5 imagen5 imagen5 imagen5 imagen5 . . imagen6 imagen6 imagen6 imagen6 imagen6 imagen6 imagen6 imagen6"
  "imagen5 imagen5 imagen5 imagen5 imagen5 imagen5 imagen5 imagen5 . . imagen6 imagen6 imagen6 imagen6 imagen6 imagen6 imagen6 imagen6"
  "imagen5 imagen5 imagen5 imagen5 imagen5 imagen5 imagen5 imagen5 . . imagen6 imagen6 imagen6 imagen6 imagen6 imagen6 imagen6 imagen6"
  "imagen5 imagen5 imagen5 imagen5 imagen5 imagen5 imagen5 imagen5 . . imagen6 imagen6 imagen6 imagen6 imagen6 imagen6 imagen6 imagen6"
  "imagen5 imagen5 imagen5 imagen5 imagen5 imagen5 imagen5 imagen5 . . imagen6 imagen6 imagen6 imagen6 imagen6 imagen6 imagen6 imagen6"
  ". . . . . . . . . . . . . . . . . .";
  width: 380px;
  height: 600px;
}

#galeria div img {
  width: 100%;
  height: 100%;
}

#imagen1 {
  grid-area: imagen1;
}
#imagen2 {
  grid-area: imagen2;
}
#imagen3 {
  grid-area: imagen3;
}
#imagen4 {
  grid-area: imagen4;
}
#imagen5 {
  grid-area: imagen5;
}
#imagen6 {
  grid-area: imagen6;
}


/* media queries; definen configuraciones de estilos dependiendo de un rango de resoluciones (min px - max px) */
/* breakpoints: son un rango de resoluciones (min px - max px) */


/* mobile first */
/* mis dispositivos mobiles siempre partiran de 400px minimo */

/* mobiles - celulares */
/* celulares: min 400px - default de 400px hasta 719px*/ 
/* tablets: 720px de 720px hasta 1023px */
/* desktop: 1024px de 1024 hasta 1199px */
/* pantallas: 1200px*/

/* @media all {
  
}
@media print {
  
} */
